<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security"
      lang="en">
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/}">
        <img src="https://stackoverflow.design/assets/img/logos/so/logo-stackoverflow.png"
             alt="stack overflow" height="30px" width="150px"/>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline">
            <input class="form-control mr-sm-1" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="navbar-nav mr-auto" sec:authorize="isAuthenticated()">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <img src="https://w7.pngwing.com/pngs/639/1013/png-transparent-hamburger-button-computer-icons-drop-down-list-fast-food-menu-rectangle-share-icon-pancake.png"
                         alt="dropdown" width="35px" height="35px"/>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a sec:authorize="isAuthenticated()" href="/logout">Logout</a>
                </div>
            </li>
        </ul>
    </div>
    <a sec:authorize="!isAuthenticated()" href="/login" class="btn btn-info mr-2">Log in</a>
    <a sec:authorize="!isAuthenticated()" href="/registration" class="btn btn-primary">Sign up</a>
</nav>
</body>
</html>