<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<body>
<div th:fragment="sidebar" class="left-sidebar float-right sticky-top pt-4 small">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" th:href="@{/}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" th:href="@{/questions}">Questions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" th:href="@{/tags}">Tags</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" th:href="@{/users}">Users</a>
        </li>
    </ul>
</div>
</body>
</html>