<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="ru" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All Users</title>
    <link th:href="@{/main.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="shortcut icon" href="https://cdn.sstatic.net/Sites/stackoverflow/Img/favicon.ico?v=ec617d715196">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/css/font-awesome.min.css}"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link th:href="@{/custom.css}" rel="stylesheet"/>
    <link th:replace="~{fragments/styles}">
</head>
<body class="d-flex flex-column h-100">
<header>
    <div th:replace="~{fragments/navigation}"></div>
</header>
<main class="d-flex flex-column flex-grow-1">
    <div class="container-fluid d-flex flex-column flex-grow-1">
        <div class="row d-flex flex-grow-1">
            <div class="col-md-2 col-lg-2 offset-lg-1 d-none d-md-block pr-0">
                <div th:replace="~{fragments/sidebar :: sidebar}"></div>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 bg-white border p-0 h-auto">
                <div class="content" style="width:100%">
                    <div class="content-header mt-4 mx-4" >
                        <div class="section-title mb-3">
                            <div class="h3 font-weight-normal">Users</div>
                        </div>
                        <div class="search-form-wrapper mb-5 d-flex justify-content-between">
                            <div>
                                <form th:action="@{/searchUser}">
                                    <label for="search"></label>
                                    <input type="text" id="search" name="search" placeholder="Filter by user">
                                </form>
                            </div>
                        </div>
                        <br> <br>
                        <div class="user-browser m-4">
                            <div class="d-flex flex-wrap">
                                <div class="d-inline-block w-25 mb-3" th:each="user : ${users}" >
                                    <div class="user-gravatar gravatar-50 float-left">
                                        <img src="https://www.gravatar.com/avatar/4b152262d9ba55197f609625358ff7e0?s=96&d=identicon&r=PG"
                                             height="48" width="48" alt="avatar">
                                    </div>
                                    <div class="user-details float-left ml-2">
                                        <a th:href="${'users/viewUser/' + user.userId}"
                                           class="text-info" th:text="${user.name}"></a>
                                    </div>
                                    <br><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>