<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/main.css}" rel="stylesheet"/>
</head>
<body>

<div>

    <a th:href="@{'/page/' + ${currentPage} + '?sortField=createDate&sortDir=' + ${reverseSortDir}}">
        Sort by published date
    </a>
    <br>
    <a th:href="@{'/page/' + ${currentPage} + '?sortField=title&sortDir=' + ${reverseSortDir}}">
        Sort by Question
    </a>

</div>

<div>
    <span>
        <form th:action="@{/search2}">
            <input type="text" placeholder="search a keyword" name="searchBar">
            <input type="submit" value="Search">
        </form>
    </span>
</div>

<!--<th:block th:if="${admin} OR ${user!=null}">-->
<div class="header">
    <a th:href="@{/new}"> New Question </a>
</div>
<!--</th:block>-->
<div class="row col-sm-1" sec:authorize="!isAuthenticated()"><a th:href="@{/login}" class="btn btn-primary btn-sm mb-3">
    Login </a></div>

<div class="row col-sm-1"><span sec:authorize="isAuthenticated()"><a th:href="@{/logout}"
                                                                     class="btn btn-primary btn-sm mb-3">Logout</a></span>
</div>
<div>
    <a th:href="@{/users}">Users</a>
</div>
<div class="row col-sm-1" sec:authorize="!isAuthenticated()"><a th:href="@{/login}" class="btn btn-primary btn-sm mb-3"> Login </a></div>

<div class="row col-sm-1"><span sec:authorize="isAuthenticated()"><a th:href="@{/logout}" class="btn btn-primary btn-sm mb-3">Logout</a></span></div>

<div class="container">
    <th:block th:each="question : ${listQuestions}">
        <div class="ques-item">
            <div>
                <a th:href="@{/questions/{id}(id=${question.questionId})}">[[${question.title}]]</a>
            </div>
            <span th:each="tag : ${question.tags}">
                  <span>[[${tag.tagName}]]</span> &nbsp; &nbsp;
            </span>
        </div>
    </th:block>
</div>

<div th:if="${totalPage} > 1">
    <div>
        <div class="div7">
            <a th:if="${currentPage-1 >= 1}"
               th:href="@{'/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Previous</a>
            <span th:unless="${currentPage-1 >= 1}" >Previous</span>
        </div>

        <div class="div7">
					<span th:each="i: ${#numbers.sequence(1, totalPage)}">
						<a th:if="${currentPage != i}"
                           th:href="@{'/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
        </div>
        <div class="div7">
            <a th:if="${currentPage < totalPage}"
               th:href="@{'/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
            <input type="hidden" name="start" value="1"/>

            <span th:unless="${currentPage < totalPage}">Next</span>
        </div>
    </div>
</div>
</body>
</html>