<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question</title>
</head>
<body>
<form action="/new">
    <label>Question Title</label>
    <input type="text" name="title" placeholder="type your question here">
    <br>
    <label>Question Body</label>
    <textarea name="body" placeholder="describe more here" rows="10" cols="20"></textarea>
    <br>
    <label>Tags</label>
    <input type="text" name="tags" placeholder="assign tags related to title">
    <br>
    <input type="submit">
</form>
</body>
</html>
