<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
<!--    <meta name="viewport"-->
<!--          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
<!--    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
    <title>New Question</title>
    <link rel="shortcut icon" href="https://cdn.sstatic.net/Sites/stackoverflow/Img/favicon.ico?v=ec617d715196">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/css/font-awesome.min.css}"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/custom.css}">
</head>
<body class="d-flex flex-column h-100">
<header>
    <div th:replace="~{fragments/navigation}"></div>
</header>
<main class="d-flex flex-grow-1">
    <div class="container-fluid d-flex flex-grow-1">
        <div class="row d-flex flex-grow-1">
            <div class="col-md-2 col-lg-2 offset-lg-1 d-none d-md-block pr-0">
                <div th:replace="~{fragments/sidebar :: sidebar}"></div>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 bg-white border p-0 h-auto">
                <div class="content m-3">
                    <div class="section-title mb-3"><h3>Ask a Public Question</h3></div>
                    <div class="form-wrapper">
                        <form th:action="@{/postQuestion}" method="post" th:object="${question}">
                            <div class="form-group">
                                <label for="question_title"><h4>Title</h4></label>
                                <input id="question_title" type="text" name="title" th:field="*{title}"
                                       placeholder="type your question here" class="form-control">
                            </div>

                            <div class="form-group">
                                <label for="question_body"><h4>Body</h4></label>
                                <textarea id="question_body" name="description" class="form-control"
                                          th:field="*{description}" rows="8" cols="12">
                                </textarea>
                            </div>
                            <div class="form-group">
                                <label for="question_tags"><h4>Tags</h4></label>
                                <input id="question_tags" type="text" th:field="*{tag}"
                                       name="tags" placeholder="assign tags related to title" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="submit" name="submit" value="Post Question"
                                       class="btn btn-primary form-control">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="footer">
    <div th:replace="~{fragments/footer :: footer}"></div>
</footer>
</body>
</html>