<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/main.css}" rel="stylesheet"/>
</head>
<body>
<div>

    <a th:href="@{'/sort/' + '?sortField=createDate&sortDir=' + ${reverseSortDir}}">
        Sort by published date
    </a>
    <br>
    <a th:href="@{'/sort/' + '?sortField=title&sortDir=' + ${reverseSortDir}}">
        Sort by Question
    </a>

</div>
<div class="header">
    <a th:href="@{/new}"> New Question </a>
</div>
&nbsp; &nbsp;
<div class="container">
    <th:block th:each="question : ${listQuestions}">
        <div class="ques-item">
            <div>
                <a th:href="@{/questions/{id}(id=${question.questionId})}">[[${question.title}]]</a>
            </div>
            <span th:each="tag : ${question.tags}">
                  <span>[[${tag.tagName}]]</span> &nbsp; &nbsp;
            </span>
        </div>
    </th:block>
</div>
</body>
</html>