<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="ru"
      class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <title>Stack Overflow Clone</title>
    <link th:replace="~{fragments/styles}">
</head>
<body class="d-flex flex-column h-100">
<header>
    <div th:replace="~{fragments/navigation}"></div>
</header>
<main class="d-flex flex-column flex-grow-1">
    <div class="container-fluid d-flex flex-column flex-grow-1">
        <div class="row d-flex flex-grow-1">
            <div class="col-md-2 col-lg-2 offset-lg-1 d-none d-md-block pr-0">
                <div th:replace="~{fragments/sidebar :: sidebar}"></div>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 bg-white border p-0 h-auto">
                <div class="content m-3 ">
                    <div class="d-flex question-header">
                        <div class="flex-grow-1 section-title mb-3">
                            <a class="text-secondary h3" th:href="@{/questions/{id}(id=${question.questionId})}"
                               th:text="${question.title}"></a>
                        </div>
                        <div class="ml-2">
                            <a class="btn btn-primary"
                               th:href="@{/new}">Ask Question</a>
                        </div>
                    </div>
                    <div class="question-details d-flex mb-3 border-bottom">
<!--                        <div class="small mr-3 mb-2">-->
<!--                            <span class="text-muted">Asked</span>-->
<!--                            <span th:text="${question.getFormattedDate(question.createdDate, 'd MMM yy hh:mm')}">-->
<!--                            </span>-->
<!--                        </div>-->
                        <div class="small mr-3 mb-2">
                            <span class="text-muted">Active</span>
                            today
                        </div>
                        <div class="small mr-3 mb-2">
                            <span class="text-muted">Viewed</span>
                            38 times
                        </div>
                    </div>
                    <div class="question d-flex mb-3">
                        <div class="vote text-center mr-3">
                            <a th:href="@{'/questionUpvote/'+${question.questionId}}">
                                <div class="vote-up"></div>
                            </a>
                            <div class="vote-count my-3">
                                <div th:if="${question.upVotes != null}">
                                <span class="question_rating text-muted h5 font-weight-bold">
                                    [[${question.getRating()}]]
                               </span>
                                </div>
                            </div>
                            <a th:href="@{'/questionDownvote/'+${question.questionId}}">
                                <div class="vote-down"></div>
                            </a>
                        </div>
                        <div class="content w-100">
                            <div class="question-body" th:text="${question.description}"></div>
                            <div class="d-flex tags-wrapper mb-3">
                                <div th:each="tag : ${question.tags}">
                                    <a class="mr-1 bg-light small rounded p-1 text-info"
                                       th:text="${tag.tagName}"></a>
                                </div>
                            </div>
                            <div th:if="${admin} or ${user!=null} and ${user.userId}==${question.author.userId}">
                                <span><a class="float-left" th:href="@{'/update/'+ ${question.questionId}}">
                                    <div class="edit-question text-muted small">
                                        edit question
                                    </div></a>
                                </span>
                                <a class="float-left" th:href="@{'/question/delete/' + ${question.questionId}}">
                                    <div class="delete-question text-muted small">
                                        delete question
                                    </div>
                                </a>
                            </div>
                            <div class="user-info float-right w-25">
<!--                                <div class="text-muted small user-action-time"-->
<!--                                     th:text="'asked ' + ${question.getFormattedDate(question.createdDate, 'd MMM yy hh:mm')}">-->
<!--                                </div>-->
                                <div th:if="${question.author.avatar}"
                                     class="user-gravatar gravatar-32 float-left mr-2">
                                    <img th:src="@{'data:image/jpeg;base64,' + ${question.author.avatar.data}}"
                                         th:alt="${'user-avatar-' + question.author.id}">
                                </div>
                                <div class="user-details float-left small">
                                    <a th:href="${'/users/viewUser/' + question.author.userId}"
                                       th:text="${question.author.name}"></a>
                                </div>
                            </div>
<!--                            <div th:if="${question.createdDate != question.lastModifiedDate}"-->
<!--                                 class="user-info float-right w-25">-->
<!--                                <div class="text-muted small user-action-time"-->
<!--                                     th:text="'edited ' + ${question.getFormattedDate(question.lastModifiedDate, 'd MMM yy hh:mm')}">-->

<!--                                </div>-->
<!--                                <div th:if="${question.lastModifiedBy.avatar}"-->
<!--                                     class="user-gravatar gravatar-32 float-left mr-2">-->
<!--                                    <img th:src="@{'data:image/jpeg;base64,' + ${question.lastModifiedBy.avatar.data}}"-->
<!--                                         th:alt="${'user-avatar-' + question.lastModifiedBy.id}">-->
<!--                                </div>-->
<!--                                <div class="user-details float-left small">-->
<!--                                    <a th:href="${'/accounts/' + question.lastModifiedBy.id}"-->
<!--                                       th:text="${question.lastModifiedBy.name}"></a>-->
<!--                                </div>-->
<!--                            </div>-->
                        </div>
                    </div>

                    <div th:if="${answer}!=null">
                        <div class="answers-header border-bottom mb-3">
                            <div class="mb-2 h5 text-muted">
                                <h3>Answers</h3>
                            </div>
                        </div>

                        <div th:each="answer:${question.answers}">
                            <div class="answer d-flex mb-3 border-bottom pb-3">

                                <div class="vote text-center mr-3">
                                    <a th:href="@{'/answerUpvote/'+${answer.answerId}}">
                                        <div class="vote-up"></div>
                                    </a>
                                    <div class="vote-count my-3">
                                        <span class="answer_rating text-muted h5 font-weight-bold">
                                            [[${answer.getRating()}]]
                                        </span>
                                    </div>
                                    <a th:href="@{'/answerDownvote/'+${answer.answerId}}">
                                        <div class="vote-down"></div>
                                    </a>
                                </div>

                                <div class="answer-content w-100">
                                    <div class="answer-body" th:text="${answer.content}"></div>
                                    <div th:if="${admin} or ${user}!=null and ${user.userId}==${answer.author.userId}">
                                        <a class="float-left" th:href="@{'/updateAnswer/'+${answer.answerId}}">
                                            <div class="edit-answer text-muted small">
                                                improve this answer
                                            </div>
                                        </a>
                                        <a class="float-left" th:href="@{'/deleteAnswer/'+${answer.answerId}}">
                                            <div class="delete-question text-muted small">
                                                delete answer
                                            </div>
                                        </a>
                                    </div>
                                    <div class="user-info float-right w-25">
                                        <div class="text-muted small user-action-time"
                                             th:text="'answered ' + ${answer.getFormattedDate(answer.createdDate, 'd MMM yy hh:mm')}">
                                        </div>
                                        <div th:if="${answer.author.avatar}"
                                             class="user-gravatar gravatar-32 float-left mr-2">
                                            <img th:src="@{'data:image/jpeg;base64,' + ${answer.author.avatar.data}}"
                                                 th:alt="${'user-avatar-' + answer.author.id}">
                                        </div>
                                        <div class="user-details float-left small">
                                            <a th:href="${'/accounts/' + answer.author.id}"
                                               th:text="${answer.author.name}"></a>
                                        </div>
                                    </div>
                                    <div th:if="${editAnsComment} !=null and ${editAnsComment.commentId} ==${ansComment.commentId}">
                                        <form th:action="@{'/updateAnsComment/'+${ansComment.commentId}}"
                                              method="post">
                                            <input type="hidden" name="questionId"
                                                   th:value="${question.questionId}"/> <br/>
                                            <input type="text" name="content" th:value="${ansComment.content}"
                                                   placeholder="Edit comment"/>
                                            <br/>
                                            <input type="submit" value="Edit Comment"/>
                                        </form>
                                    </div>

                                    <!--                                    <div th:if="${answer.createdDate != answer.lastModifiedDate}"-->
<!--                                         class="user-info float-right w-25">-->
<!--                                        <div class="text-muted small user-action-time"-->
<!--                                             th:text="'edited ' + ${answer.getFormattedDate(answer.lastModifiedDate, 'd MMM yy hh:mm')}">-->

<!--                                        </div>-->
<!--                                        <div th:if="${answer.lastModifiedBy.avatar}"-->
<!--                                             class="user-gravatar gravatar-32 float-left mr-2">-->
<!--                                            <img th:src="@{'data:image/jpeg;base64,' + ${answer.lastModifiedBy.avatar.data}}"-->
<!--                                                 th:alt="${'user-avatar-' + answer.lastModifiedBy.id}">-->
<!--                                        </div>-->
<!--                                        <div class="user-details float-left small">-->
<!--                                            <a th:href="${'/accounts/' + answer.lastModifiedBy.id}"-->
<!--                                               th:text="${answer.lastModifiedBy.name}"></a>-->
<!--                                        </div>-->
<!--                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div th:if="${admin} or ${user}!=null">
                        <form th:action="@{/postAnswer/{id}(id=${question.questionId})}"
                              method="post" th:object="${answer}">
                            <div class="form-group">
                                <label for="answer-content">Your Answer</label>
                                <textarea id="answer-content" class="form-control" name="content" cols="30" rows="10">

                            </textarea>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Post Answer"
                                       class="btn btn-primary"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="footer">
    <div th:replace="~{fragments/footer :: footer}"></div>
</footer>
</body>
</html>