<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="shortcut icon" href="https://cdn.sstatic.net/Sites/stackoverflow/Img/favicon.ico?v=ec617d715196">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/css/font-awesome.min.css}"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<!--    <link th:href="@{/main.css}" rel="stylesheet"/>-->
</head>
<body>
<header>
    <div th:replace="~{fragments/navigation}"></div>
</header>
<div>
    <a th:href="@{/}">Home</a>
    <br>
    <div class="h2">
        <div class="mx-auto mb24 p24 wmx3 bg-white bar-lg auth-shadow mb24 with-captcha">
            <h1>Register Here</h1>
            <div th:if="${param.success}">
                <h1>Yoy have registered successfully</h1>
            </div>
            <form th:action="@{/registration}" method="post" th:object="${user}">
                <label for="username"> Display name </label> <br>
                <input type="text" th:field="*{name}" id="username"  name="username"/>
                <br>
                <br>
                <label for="Email"> Email </label> <br>
                <input type="text" th:field="*{email}"  id="Email" name="Email"/>
                <br>
                <br>
                <label for="password"> Password </label> <br>
                <input type="password" th:field="*{password}" id="password" name="password"/>
                <br>
                <br>
                <input type="submit" value="Submit"/>
                <br>
                <br>
                Already have an account? <a th:href="@{/login}">Log In</a>
            </form>
        </div>
    </div>
</div>
</body>
</html>

