<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="shortcut icon" href="https://cdn.sstatic.net/Sites/stackoverflow/Img/favicon.ico?v=ec617d715196">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/css/font-awesome.min.css}"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link th:replace="~{fragments/styles}">
<!--    <link th:href="@{/main.css}" rel="stylesheet"/>-->
</head>
<body class="d-flex flex-column h-100">
<header>
    <div th:replace="~{fragments/navigation}"></div>
</header>
<main class="d-flex flex-column flex-grow-1">

    <div class="container-fluid d-flex flex-column flex-grow-1">
        <div class="row">
            <div class="col-10 col-md-5 col-lg-4 col-xl-3 col-sm-6 mx-auto" style="margin-top: 165px">
                <div class="form-wrapper shadow mt-3">
                    <form th:action="@{/registration}" method="post" th:object="${user}" accept-charset="UTF-8"
                          class="my-3 mx-3">

                        <div th:if="${param.success}">
                            <div class="alert alert-success">
                                <p>You have registered successfully</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="user_name">Display name</label>
                            <input autofocus="autofocus" id="user_name" name="username"
                                   type="text" class="form-control" th:field="*{name}">
                        </div>

                        <div class="form-group">
                            <label for="user_email">Email</label>
                            <input id="user_email" name="email"
                                   type="email" class="form-control" th:field="*{email}">
                        </div>

                        <div class="form-group">
                            <label for="user_password">Password</label>
                            <input id="user_password" name="password"
                                   type="password" class="form-control" th:field="*{password}">
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Sign Up"
                                   class="btn btn-primary col">
                        </div>
                    </form>
                    <br>
                    <div style="margin-left: 10px">
                        <span>Already have an account? <a th:href="@{/login}">Log In</a></span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>
</body>

</html>

